<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <h1>Dashboard</h1>

            <h3>Recent Activity</h3>
            <div class="well" ng-repeat="recentPage in recentPages">
                <h4><a ng-href="#/page/{{recentPage.id}}">{{recentPage.title}}</a></h4>
                <div ng-hide="recentPage.updated">
                    <a ng-href="#/user/{{recentPage.created.user.id}}">{{recentPage.created.user.name}}</a>
                    <small>{{recentPage.createdDate | date:'medium'}}</small>
                </div>
                <div ng-show="recentPage.updated">
                    <a ng-href="#/user/{{recentPage.updated.user.id}}">{{recentPage.updated.user.name}}</a>
                    <small>{{recentPage.updatedDate | date:'medium'}}</small>
                </div>
            </div>

        </div>
    </div>
</div>