<div class="container">
    <div class="row">
        <div class="col-xs-12">
            
            <alert ng-show="isError" type="danger" close="isError = false;">{{errorMsg}}</alert>

            <input ng-model="page.title" type="text" class="form-control input-lg" placeholder="Page Title">

            <select ng-model="page.categoryId" ng-options="category.id as category.name for category in categories" class="form-control">
                <option value="">Category</option>
            </select>

            <textarea id="pageContent">{{page.content}}</textarea>

            <br/>

            <a href="#/" class="btn btn-default">Cancel</a>
            <button class="btn btn-danger" ng-show="{{page.id}}" ng-click="deletePage()" ng-disabled="isLoading">
                <span ng-hide="isLoading">Delete</span>
                <span ng-show="isLoading">Wait...</span>
            </button>

            <button class="btn btn-primary pull-right" ng-click="save()" ng-disabled="isLoading">
                <span ng-hide="isLoading">Save</span>
                <span ng-show="isLoading">Wait...</span>
            </button>
            
            <br/><br/>

        </div>
    </div>
</div>