<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <alert ng-show="isError" type="danger" close="isError = false;">{{errorMsg}}</alert>

            <h1 ng-hide="person">Create new User</h1>
            <h1 ng-show="person">{{person.name}}</h1>

            <input ng-model="person.name" type="text" class="form-control" placeholder="Name">

            <br/>

            <input ng-model="person.email" type="text" class="form-control" placeholder="user@email.com">

            <br/>

            <input ng-model="person.password" type="password" class="form-control" placeholder="Password">

            <br/>

            <div ng-show="user.isAdmin">
                <input id="chk_user_is_admin" ng-model="person.isAdmin" type="checkbox">
                <label for="chk_user_is_admin">Administrator</label>
            </div>

            <input id="chk_user_is_active" ng-model="person.isActive" type="checkbox">
            <label for="chk_user_is_active">Active</label>

            <br/><br/>

            <a href="#/admin" class="btn btn-default">Cancel</a>

            <button class="btn btn-primary pull-right" ng-click="save()" ng-disabled="isLoading">
                <span ng-hide="isLoading">Save</span>
                <span ng-show="isLoading">Wait...</span>
            </button>
            
            <br/><br/>

        </div>
    </div>
</div>